@charset "UTF-8";
/**
 * @category  Design
 * @package   redbox_default
 * @copyright Copyright (c) 2014 Redbox Digital (http://www.redboxdigital.com)
 * @author    Mat Havelock mat.havelock@redboxdigital.com
 */

$icon-size: "\2260";
$icon-book: "\21";
$icon-toilet: "\23";
$icon-pound-tag: "\24";
$icon-calculator: "\25";
$icon-towel-rail: "\26";
$icon-sink: "\27";
$icon-plug: "\28";
$icon-v: "\29";
$icon-cross: "\2a";
$icon-paper: "\2b";
$icon-stars: "\2d";
$icon-which-cable: "\2f";
$icon-question-mark-circle: "\30";
$icon-solar-support: "\31";
$icon-play: "\32";
$icon-365: "\33";
$icon-pound-arrow: "\34";
$icon-lifering: "\35";
$icon-lifering-tick: "\36";
$icon-apostrophe-left: "\37";
$icon-apostrophe-right: "\38";
$icon-heart: "\39";
$icon-square-thing: "\3a";
$icon-heat-radiation: "\3b";
$icon-support-member: "\3c";
$icon-shower: "\3d";
$icon-question: "\3f";
$icon-finance: "\40";
$icon-facebook: "\41";
$icon-linkedin: "\42";
$icon-hard-hat: "\43";
$icon-youtube: "\44";
$icon-arrow-right-thin: "\45";
$icon-cart: "\46";
$icon-book-circle: "\47";
$icon-tv: "\48";
$icon-tick: "\49";
$icon-electric-kits: "\4a";
$icon-press: "\4b";
$icon-group: "\4c";
$icon-electric-systems: "\4d";
$icon-water-systems: "\4e";
$icon-layers: "\4f";
$icon-water-layers: "\50";
$icon-degrees: "\51";
$icon-insulation: "\52";
$icon-sun: "\53";
$icon-pound-with-dots: "\54";
$icon-solar-panels: "\55";
$icon-right-solar: "\56";
$icon-which-solar: "\57";
$icon-fan: "\58";
$icon-right-fan: "\59";
$icon-which-fan: "\5a";
$icon-paypal-credit: "\5c";
$icon-musical-note: "\5e";
$icon-bath: "\5f";
$icon-tiles: "\60";
$icon-google-plus: "\61";
$icon-support: "\62";
$icon-user: "\63";
$icon-magnifying-glass-small: "\64";
$icon-padlock: "\65";
$icon-telephone: "\66";
$icon-arrow-down: "\67";
$icon-arrow-left: "\68";
$icon-arrow-right: "\69";
$icon-arrow-up: "\6a";
$icon-trophie: "\6b";
$icon-cart-circle: "\6c";
$icon-question-mark: "\6d";
$icon-tape: "\6e";
$icon-ellipse: "\6f";
$icon-trolley: "\70";
$icon-map-icon: "\71";
$icon-right-price: "\72";
$icon-quoted-price: "\73";
$icon-house: "\74";
$icon-30: "\75";
$icon-twitter: "\76";
$icon-rosette: "\77";
$icon-right-system: "\78";
$icon-magnifying-glass-big: "\79";
$icon-van: "\7a";
$icon-amazon: "\7c";
$icon-reviews: "\7e";
$icon-house-tick: "\a1";
$icon-tick-list: "\a2";
$icon-how-much: "\a3";
$icon-Wiring: "\a7";
$icon-recommend: "\aa";
$icon-Tiling: "\b6";
$icon-Electrical-reference: "\ba";
$icon-Water-reference: "\2013";
$icon-Benefits: "\2022";
$icon-location-pin: "\20ac";
$icon-design: "\221e";

$icomoon-font-path: "../fonts" !default;
/* -------------------------------------------- *
 * Icons
 */
@font-face {
    font-family: 'ufhs';
    src:    url('#{$icomoon-font-path}/uhs.eot?t70klh');
    src:    url('#{$icomoon-font-path}/uhs.eot?t70klh#iefix') format('embedded-opentype'),
            url('#{$icomoon-font-path}/uhs.ttf?t70klh') format('truetype'),
            url('#{$icomoon-font-path}/uhs.woff?t70klh') format('woff'),
            url('#{$icomoon-font-path}/uhs.svg?t70klh#uhs') format('svg');
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "ufhs" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.5em;
    vertical-align: middle;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "ufhs" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
i.loading{
    background-image: url('../images/opc-ajax-loader.gif');
    background-repeat: no-repeat;
    background-position: center;
    width:48px;
    height: 48px;
    display: inline-block;
    vertical-align: middle;
}
@mixin icon($content){
    font-family: "ufhs" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
    content: $content;
}
//usage: @include icon_block($arrows, arrow_r);
@mixin font-icon($content) {
    &:before {
        @include icon($content);
    }
}

//usage: @include icon_block($arrows, arrow_r);
@mixin font-icon-after($content) {
    &:after {
        @include icon($content)
    }
}

//usage: @include icon_block($arrows, arrow_r);
@mixin icon_block($icon-group, $icon-name) {
    content:'';
    display: block;
    @include sprite-dimensions($icon-group, $icon-name);
    background: sprite($icon-group, $icon-name);
}

//usage: @include rsprite(arrow_r);
@mixin rsprite($icon-name) {
    &:before {
        content: '';
        display: block;
        float: left;
        margin-right: 4px;
        @include retina-sprite($icon-name);
    }
    &:after {
        @include clearfix;
    }
}

.icon-size {
  &:before {
    content: $icon-size;
  }
}
.icon-book {
  &:before {
    content: $icon-book;
  }
}
.icon-toilet {
  &:before {
    content: $icon-toilet;
  }
}
.icon-pound-tag {
  &:before {
    content: $icon-pound-tag;
  }
}
.icon-calculator {
  &:before {
    content: $icon-calculator;
  }
}
.icon-towel-rail {
  &:before {
    content: $icon-towel-rail;
  }
}
.icon-sink {
  &:before {
    content: $icon-sink;
  }
}
.icon-plug {
  &:before {
    content: $icon-plug;
  }
}
.icon-v {
  &:before {
    content: $icon-v;
  }
}
.icon-cross {
  &:before {
    content: $icon-cross;
  }
}
.icon-paper {
  &:before {
    content: $icon-paper;
  }
}
.icon-stars {
  &:before {
    content: $icon-stars;
  }
}
.icon-which-cable {
  &:before {
    content: $icon-which-cable;
  }
}
.icon-question-mark-circle {
  &:before {
    content: $icon-question-mark-circle;
  }
}
.icon-solar-support {
  &:before {
    content: $icon-solar-support;
  }
}
.icon-play {
  &:before {
    content: $icon-play;
  }
}
.icon-365 {
  &:before {
    content: $icon-365;
  }
}
.icon-pound-arrow {
  &:before {
    content: $icon-pound-arrow;
  }
}
.icon-lifering {
  &:before {
    content: $icon-lifering;
  }
}
.icon-lifering-tick {
  &:before {
    content: $icon-lifering-tick;
  }
}
.icon-apostrophe-left {
  &:before {
    content: $icon-apostrophe-left;
  }
}
.icon-apostrophe-right {
  &:before {
    content: $icon-apostrophe-right;
  }
}
.icon-heart {
  &:before {
    content: $icon-heart;
  }
}
.icon-square-thing {
  &:before {
    content: $icon-square-thing;
  }
}
.icon-heat-radiation {
  &:before {
    content: $icon-heat-radiation;
  }
}
.icon-support-member {
  &:before {
    content: $icon-support-member;
  }
}
.icon-shower {
  &:before {
    content: $icon-shower;
  }
}
.icon-question {
  &:before {
    content: $icon-question;
  }
}
.icon-finance {
  &:before {
    content: $icon-finance;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin;
  }
}
.icon-hard-hat {
  &:before {
    content: $icon-hard-hat;
  }
}
.icon-youtube {
  &:before {
    content: $icon-youtube;
  }
}
.icon-arrow-right-thin {
  &:before {
    content: $icon-arrow-right-thin;
  }
}
.icon-cart {
  &:before {
    content: $icon-cart;
  }
}
.icon-book-circle {
  &:before {
    content: $icon-book-circle;
  }
}
.icon-tv {
  &:before {
    content: $icon-tv;
  }
}
.icon-tick {
  &:before {
    content: $icon-tick;
  }
}
.icon-electric-kits {
  &:before {
    content: $icon-electric-kits;
  }
}
.icon-press {
  &:before {
    content: $icon-press;
  }
}
.icon-group {
  &:before {
    content: $icon-group;
  }
}
.icon-electric-systems {
  &:before {
    content: $icon-electric-systems;
  }
}
.icon-water-systems {
  &:before {
    content: $icon-water-systems;
  }
}
.icon-layers {
  &:before {
    content: $icon-layers;
  }
}
.icon-water-layers {
  &:before {
    content: $icon-water-layers;
  }
}
.icon-degrees {
  &:before {
    content: $icon-degrees;
  }
}
.icon-insulation {
  &:before {
    content: $icon-insulation;
  }
}
.icon-sun {
  &:before {
    content: $icon-sun;
  }
}
.icon-pound-with-dots {
  &:before {
    content: $icon-pound-with-dots;
  }
}
.icon-solar-panels {
  &:before {
    content: $icon-solar-panels;
  }
}
.icon-right-solar {
  &:before {
    content: $icon-right-solar;
  }
}
.icon-which-solar {
  &:before {
    content: $icon-which-solar;
  }
}
.icon-fan {
  &:before {
    content: $icon-fan;
  }
}
.icon-right-fan {
  &:before {
    content: $icon-right-fan;
  }
}
.icon-which-fan {
  &:before {
    content: $icon-which-fan;
  }
}
.icon-paypal-credit {
  &:before {
    content: $icon-paypal-credit;
  }
}
.icon-musical-note {
  &:before {
    content: $icon-musical-note;
  }
}
.icon-bath {
  &:before {
    content: $icon-bath;
  }
}
.icon-tiles {
  &:before {
    content: $icon-tiles;
  }
}
.icon-google-plus {
  &:before {
    content: $icon-google-plus;
  }
}
.icon-support {
  &:before {
    content: $icon-support;
  }
}
.icon-user {
  &:before {
    content: $icon-user;
  }
}
.icon-magnifying-glass-small {
  &:before {
    content: $icon-magnifying-glass-small;
  }
}
.icon-padlock {
  &:before {
    content: $icon-padlock;
  }
}
.icon-telephone {
  &:before {
    content: $icon-telephone;
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down;
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left;
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right;
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up;
  }
}
.icon-trophie {
  &:before {
    content: $icon-trophie;
  }
}
.icon-cart-circle {
  &:before {
    content: $icon-cart-circle;
  }
}
.icon-question-mark {
  &:before {
    content: $icon-question-mark;
  }
}
.icon-tape {
  &:before {
    content: $icon-tape;
  }
}
.icon-ellipse {
  &:before {
    content: $icon-ellipse;
  }
}
.icon-trolley {
  &:before {
    content: $icon-trolley;
  }
}
.icon-map-icon {
  &:before {
    content: $icon-map-icon;
  }
}
.icon-right-price {
  &:before {
    content: $icon-right-price;
  }
}
.icon-quoted-price {
  &:before {
    content: $icon-quoted-price;
  }
}
.icon-house {
  &:before {
    content: $icon-house;
  }
}
.icon-30 {
  &:before {
    content: $icon-30;
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
.icon-rosette {
  &:before {
    content: $icon-rosette;
  }
}
.icon-right-system {
  &:before {
    content: $icon-right-system;
  }
}
.icon-magnifying-glass-big {
  &:before {
    content: $icon-magnifying-glass-big;
  }
}
.icon-van {
  &:before {
    content: $icon-van;
  }
}
.icon-amazon {
  &:before {
    content: $icon-amazon;
  }
}
.icon-reviews {
  &:before {
    content: $icon-reviews;
  }
}
.icon-house-tick {
  &:before {
    content: $icon-house-tick;
  }
}
.icon-tick-list {
  &:before {
    content: $icon-tick-list;
  }
}
.icon-how-much {
  &:before {
    content: $icon-how-much;
  }
}
.icon-Wiring {
  &:before {
    content: $icon-Wiring;
  }
}
.icon-recommend {
  &:before {
    content: $icon-recommend;
  }
}
.icon-Tiling {
  &:before {
    content: $icon-Tiling;
  }
}
.icon-Electrical-reference {
  &:before {
    content: $icon-Electrical-reference;
  }
}
.icon-Water-reference {
  &:before {
    content: $icon-Water-reference;
  }
}
.icon-Benefits {
  &:before {
    content: $icon-Benefits;
  }
}
.icon-location-pin {
  &:before {
    content: $icon-location-pin;
  }
}
.icon-design {
  &:before {
    content: $icon-design;
  }
}