<?php $_product = $this->getData('product'); ?>
<?php $related = $this->getData('related'); ?>
<?php $productPrice = $this->getData('price'); ?>


<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.7.1/slick/slick.min.css"/>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.7.1/slick/slick.min.js"></script>

<div id="related-popup">
	<div id="rp-overlay"></div>
	<div id="rp-loader">
		<img src="/skin/frontend/base/default/relatedpopup/img/loader.svg">
	</div>
	<div id="rp-modal">
		<div class="product-top">
			<div class="col product">
				<div class="image-container">
					<img src="<?php echo $_product->getImageUrl(); ?>" alt="<?php echo $_product->getName(); ?>"/>
				</div>
				<div class="copy-container">
					<p><?php echo $_product->getName(); ?></p>
					<p data-icon="I">Added to your shopping cart.</p>
				</div>
				<h3>Before you continue...</h3>
			</div>
			<div class="col cart">
				<div id="rp-minicart-block">
					<?php echo $this->getMinicartHtml(); ?>
				</div>
				<a href="/checkout/cart" id="proceed-to-checkout">Proceed to Checkout</a>
				<button id="continue-shopping">Continue Shopping</button>
			</div>
		</div>
		<div class="related-bottom">
			<p>There may be essential items that <strong>you will need</strong> for this product to function correctly. Don't forget to add these to your basket!</p>
			<ul class="related-products" data-key="<?php echo Mage::getSingleton('core/session')->getFormKey();?>" data-height-determined-by=".copy-container,.name">
				<?php foreach ($related as $product): ?>
					<li>
						<div class="related-item">
							<div class="image-container">
								<img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'catalog/product' .  $product['small_image']; ?>" alt="<?php echo $_product->getName(); ?>"/>
							</div>
							<div class="copy-container">
								<p class="name"><?php echo $product['name']; ?></p>
								<p class="price-block">from <span class="price">
									<?php
									if ($product['type_id'] == 'bundle') {
										echo Mage::helper('core')->currency($product['min_price'], true, false);
									} else {
										echo Mage::helper('core')->currency($product['price'], true, false);
									}
									?>
									</span> <span class="vat">inc vat</span></p>
								<?php if ($product['type_id'] == 'simple'): ?>
									<div class="qty-box">
										<label class="small">Qty</label>
										<label class="large">Quantity</label>
										<input type="number" name="qty" value="1" class="input-text" data-product="<?php echo $product['entity_id']; ?>"/>
									</div>
								<?php endif; ?>
							</div>
							<div class="cta-container">
								<?php if ($product['type_id'] != 'simple'): ?>
									<a class="more-info" href="/<?php echo $product['url_key']; ?>">More info</a>
								<?php else: ?>
									<button class="add-to-basket basket">Add to Basket</button>
									<a href="/<?php echo $product['url_key']; ?>" class="cta">full product details</a>
								<?php endif; ?>
							</div>
						</div>
					</li>
				<?php endforeach; ?>
			</ul>
		</div>
	</div>
</div>